.site-header {	
	background: linear-gradient(to bottom, @black, transparent);
	color: @white;
	margin-bottom: 30px;
	a {
		color: @white;
	}
}

.top-panel {	
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		//padding: 15px 0;
		@media @t {
			flex-direction: row;
		}
	}
	&__item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
		text-align: center;
	}
}

.site-logo {
	background: url(img/site-logo.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	text-transform: uppercase;
	padding: 15px 0 15px 60px;
	&__title {
		font-weight: bold;
		font-size: 24px;
	}
	&__subtitle {
		font-size: 12px;		
		letter-spacing: 1px;
		word-spacing: 3px;
	}
}

.top-address {
	@media @t {
		text-align: right;
	}
	&__tel {
		font-weight: bold;
		font-size: 24px;
	}
	&__address {
		font-size: 12px;
	}
}

.top-links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	@media @d {
		flex-direction: row;
	}
	&__item {
		padding: 10px 40px;
		border: 1px solid @white;
		background: @black;
		text-decoration: underline;
		font-size: 12px;
		&:first-child {
			margin-bottom: 15px;
			@media @d {
				margin-bottom: 0;
				margin-right: 15px;
			}
		}
		&:hover {
			border-color: @yellow;
			background-color: @yellow;
			color: @black;
		}
	}
}

.header-nav {
	transform: translateY(30px);
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		background: @black;
		@media @t {
			flex-direction: row;
		}
	}
	&__item {
		text-decoration: none;
		font-size: 14px;
		padding: 15px;
		text-align: center;
		flex-grow: 1;
		background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.3) 50%, transparent 50%);
		border: 1px solid @black;
		&:hover {
			color: @yellow;
			background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
		}
	}
}