.site-header {	
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -10;
	&--home {		
		& + .site-content {
			margin-top: 600px;			
			padding-top: 60px;
		}
	}
}

.top-panel {	
	position: absolute;
	top: 0;
	width: 100%;
	//background: rgba(0, 0, 0, 0.4);
	padding: 15px 0;
	z-index: 20;
	transition: .3s;
	&__wrapper {
		.lcw;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media @d {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__item {
		text-align: center;
		@media @d {
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		}		
	}
	/*&.active {
		padding: 5px 0;
		background: @black;
	}*/
}

.site-logo {
	color: @white;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 0 15px 55px;
	background: url(img/site-logo.png) no-repeat left center;
	background-size: auto 80px;
	transition: .3s;
	&__title {
		font-weight: bold;
		font-size: 24px;
	}
	&__subtitle {
		font-size: 12px;
		text-align: center;
		letter-spacing: 1px;
    	word-spacing: 3px;
	}
	&:hover {
		color: @white;
	}
	&:visited {
		color: @white;
	}	
}

.top-links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	@media @t {		
		flex-direction: row;
	}
	&__item {
		color: @white;
		border: 1px solid @white;
		padding: 10px 35px;
		display: inline-block;
		font-size: 12px;
		text-decoration: none;	
		margin: 0 0 15px 0;
		&:visited {
			color: @white;
		}
		@media @t {
			margin: 0;
			&:first-child {
				margin-right: 15px;
			}
		}
	}
}

.top-address {
	&__tel {
		font-size: 24px;
		font-size: 24px;
		color: @white;
		text-decoration: none;
		font-weight: bold;
		letter-spacing: 1px;
		&:hover {
			color: @white;
		}
		&:visited {
			color: @white;
		}	
	}
	&__note {
		font-size: 12px;
		color: @yellow;
	}
}

.header-nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transform: translateY(-50%);
	&.active {
		background: @black linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.25) 50%, transparent 50%);
		position: fixed;
		width: 100%;
		top: 0;
		transform: translateY(0);
		z-index: 20;
	}
	ul {		
		list-style: none;
		margin: 0;
		padding: 0;
	}
	& > ul {
		.lcw;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;	
		@media @m {
			display: none;
		}
		@media @t {
			flex-direction: row;
		}
		& > li {
			&.page_item {
				flex-grow: 1;
				flex-basis: 0;
				& > a {
					display: block;
					padding: 15px;
					font-size: 14px;
					color: @white;
					text-transform: uppercase;
					text-decoration: none;
					border: 1px solid @white;	
					background: @black linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.25) 50%, transparent 50%);
					@media @m {
						margin-top: -1px;
					}
					@media @t {
						text-align: center;
						margin-left: -1px;
						border-color: @black;
					}
				}
				ul.children {
					position: absolute;
					top: 100%;
					left: 0;
					background: @yellow;
					display: none;
				}
			}
			&.current_page_item {
				a {
					border-color: @yellow;
					background: @yellow linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.25) 50%, transparent 50%);
					color: @black;
				}
			}
			&.page_item_has_children {
				position: relative;
				&:hover {
					ul.children {
						display: block;
					}
				}
			}
		}
	}
	&__button {
		width: 100%;
		height: 50px;
		cursor: pointer;
		background: @black linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.25) 50%, transparent 50%);
	}
}