@import "vendor.less";
@import "site-header.less";
@import "site-footer.less";
@import "slider.less";
@import "home.less";
@import "services.less";
@import "about.less";
@import "contacts.less";

@m: ~ "(max-width: 767px)";
@t: ~ "(min-width: 768px)";
@d: ~ "(min-width: 1100px)";

@black: #000;
@white: #fff;
@yellow: #f1dd00;
@dark-grey: #181919;
@grey: #828385;
@light-grey: #e5e5e5;

body {
	font-family: 'Open Sans', sans-serif;
}

.site-content {
	margin-top: 141px;
	padding-top: 27px;
	position: relative;
	z-index: 10;	
}

.lcw {
	margin: 0 auto;	
	padding-left: 15px;
	padding-right: 15px;
	@media @m {
		width: 100%;
	}
	@media @t {
		width: 768px;
	}
	@media @d {
		width: 1110px;
	}	
}

.site-content {
	background: @white;
}

.section-header {
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin: 30px 0;
}

.cols {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@media @t {
		flex-direction: row;
	}
}

.col {
	flex-basis: 100%;
	&-t {
		@media @t {
			&-4 {
				flex-basis: 33.333333%;							
			}
			&-6 {
				flex-basis: 50%;							
			}
			&-8 {
				flex-basis: 66.666666%;							
			}			
		}
	}
}

article {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		li {
			padding-left: 30px;			
			margin-bottom: 30px;
			position: relative;
			&:before {
				content: '';
				display: inline-block;
				width: 10px;
				height: 10px;
				background: @yellow;
				margin-right: 10px;
			}
		}
		&.special {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: space-between;
			height: 180px;
			li {
				font-weight: bold;
			}
		}
	}
}

.page-heading {
	height: 400px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -10;
	background: no-repeat center;
	&--event {
		background-image: url(img/heading/event.png);
	}
	&--services {
		background-image: url(img/heading/services.jpg);
	}
	& + .site-content {
		margin-top: 400px;
	}
}

.callback {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@media @t {
		flex-direction: row;
	}
	&__header {
		font-size: 14px;
		line-height: 24px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 45px;
		flex-basis: 100%;
	}
	&__button {
		width: 270px;
		height: 50px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		color: @black;
		text-decoration: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		&--tel {
			background: @white;
			border: 1px solid @black;			
			font-size: 20px;
			@media @d {
				margin-right: 15px;
			}
			&::before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				background: url(img/order/tel.png) no-repeat center;
				background-size: contain;
				margin-right: 23px;
			}
		}
		&--open {
			background: @yellow;
			font-size: 14px;
		}
	}
}

.order {
	margin: 60px 0;
	background: @light-grey;
	background-size: contain;
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 125px;
		height: 250px;
		background: url(img/order/bg.png) no-repeat center;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		@media @t {			
			
			transform: translate(-50%, -25%);
		}
	}
	&__wrapper {
		.lcw;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		align-items: center;
		z-index: 1;
		position: relative;
		@media @t {
			flex-direction: row;
		}
	}
	&__item {		
		margin: 30px 0;
		@media @t {
			margin: 45px 0;
			&--big {
				max-width: 440px;
			}
		}
	}
	&__text {
		margin: 0;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
	&__button {
		width: 270px;
		height: 50px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		color: @black;
		text-decoration: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		&--tel {
			background: @white;
			border: 1px solid @black;			
			font-size: 20px;
			&::before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				background: url(img/order/tel.png) no-repeat center;
				background-size: contain;
				margin-right: 23px;
			}
		}
		&--open {
			background: @yellow;
			font-size: 14px;
		}
	}
}