@import "vendor.less";
@import "site-header.less";
@import "site-footer.less";
@import "slider.less";
@import "home.less";
@import "services.less";
@import "about.less";
@import "contacts.less";
@import "regions.less";

@m: ~ "(max-width: 767px)";
@t: ~ "(min-width: 768px)";
@d: ~ "(min-width: 1100px)";

@black: #000;
@white: #fff;
@yellow: #f1dd00;
@dark-grey: #181919;
@grey: #828385;
@light-grey: #e5e5e5;

html {
	background: @black;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: @black;
}

.site-content {
	margin-top: 141px;
	position: relative;
	z-index: 10;	
}

.lcw {
	margin: 0 auto;	
	padding-left: 15px;
	padding-right: 15px;
	@media @m {
		width: 100%;
	}
	@media @t {
		width: 768px;
	}
	@media @d {
		width: 1110px;
	}	
}

.site-content {
	background: @white;
}

.section-header {
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin: 30px 0;
}

.cols {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	@media @t {
		flex-direction: row;
	}
}

.col {
	flex-basis: 100%;
	&-t {
		@media @t {
			&-4 {
				flex-basis: 33.333333%;							
			}
			&-6 {
				flex-basis: 50%;							
			}
			&-8 {
				flex-basis: 66.666666%;							
			}			
		}
	}
}

article {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 15px;
		li {
			padding-left: 30px;			
			margin-bottom: 30px;
			position: relative;
			&:before {
				content: '';
				display: inline-block;
				width: 10px;
				height: 10px;
				background: @yellow;
				margin-right: 10px;
			}
		}
		&.special {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;		
			flex-direction: column;
			@media @d {				
				flex-wrap: wrap;
				height: 180px;
				&--big {
					height: 240px;
				}
				&--bigger {
					height: 300px;
				}
			}
			li {
				font-weight: bold;
				width: 33%;
			}
		}
	}
}

.table {
	margin-bottom: 16px;
	font-size: 14px;
	&__note {
		font-size: 12px;
		font-style: italic;
		a {
			color: @black;
			&[href^="tel:"] {
				text-decoration: none;
			}
		}
	}
	thead {
		th {
			background: @black;
			color: @white;
			text-align: center;
			padding: 8px 0 4px;
			font-weight: normal;
			&:not(:last-child) {
				border-right: 1px solid @white;
			}
			&:first-child {
				background: @yellow;
				color: @black;
				font-weight: bold;
				text-transform: uppercase;
				text-align: left;
				padding-left: 36px;
				width: 50%;
			}
			div {
				&:first-child {
					text-transform: uppercase;
				}
			}
		}
	}
	tbody {
		text-align: center;
		tr {
			&:first-child {
				td {
					margin-top: 16px;
				}
			}
			&:last-child {
				td {
					margin-bottom: 16px;
				}
			}			
			&:nth-child(even) {
				background: #f0f1f2;
			}
			td {				
				padding: 8px 0 4px;
				&:first-child {
					padding-left: 36px;
					text-align: left;
					width: 50%;
				}
			}
		}
	}
}

.page-heading {
	height: 400px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -10;
	background-repeat: repeat, no-repeat;
	background-position: 0 0, center;
	& + .site-content {
		margin-top: 400px;
	}
	&--services {
		background-image: url(img/heading/bg.png), url(img/heading/services.jpg);
	}
	&--event {
		background-image: url(img/heading/bg.png), url(img/heading/event.jpg);
	}
	&--institution {
		background-image: url(img/heading/bg.png), url(img/heading/institution.jpg);
	}
	&--legal {
		background-image: url(img/heading/bg.png), url(img/heading/legal.jpg);
	}
	&--property {
		background-image: url(img/heading/bg.png), url(img/heading/property.jpg);
	}
	&--systems {
		background-image: url(img/heading/bg.png), url(img/heading/systems.jpg);
	}
	&--estate {
		background-image: url(img/heading/bg.png), url(img/heading/estate.jpg);
	}
	&--about {
		background-image: url(img/heading/bg.png), url(img/heading/about.jpg);
	}
	&--regions {
		background-image: url(img/heading/bg.png), url(img/heading/regions.jpg);
	}
	
}

.callback {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@media @t {
		flex-direction: row;
	}
	&__header {
		font-size: 14px;
		line-height: 24px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 45px;
		flex-basis: 100%;
	}
	&__button {
		width: 270px;
		height: 50px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		color: @black;
		text-decoration: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
		&--tel {
			background: @white;
			border: 1px solid @black;			
			font-size: 20px;
			@media @d {
				margin-right: 15px;
			}
			&::before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				background: url(img/tel.png) no-repeat center;
				background-size: contain;
				margin-right: 23px;
			}
		}
		&--open {
			background: @yellow;
			font-size: 14px;
		}
	}
}

.order {
	margin: 60px 0;
	background: @light-grey;
	background-size: contain;
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 125px;
		height: 250px;
		background: url(img/order/bg.png) no-repeat center;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		@media @t {			
			
			transform: translate(-50%, -25%);
		}
	}
	&__wrapper {
		.lcw;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		align-items: center;
		z-index: 1;
		position: relative;
		@media @t {
			flex-direction: row;
		}
	}
	&__item {		
		margin: 30px 0;
		@media @t {
			margin: 45px 0;
			&--big {
				max-width: 440px;
			}
		}
	}
	&__text {
		margin: 0;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
	&__button {
		width: 270px;
		height: 50px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		color: @black;
		text-decoration: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		&--tel {
			background: @white;
			border: 1px solid @black;			
			font-size: 20px;
			&::before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 30px;
				background: url(img/tel.png) no-repeat center;
				background-size: contain;
				margin-right: 23px;
			}
		}
		&--open {
			background: @yellow;
			font-size: 14px;
		}
	}
}

.service-nav {
	background: @yellow;
	padding: 27px 0 15px;
	&__wrapper {
		.lcw;
		list-style: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		@media @t {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.menu-item {
		margin-top: 15px;
		a {
			color: @black;
			font-weight: bold;
			font-size: 14px;
		}
	}
}

.licenses {
	margin: 67px 0 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	@media @t {
		justify-content: flex-end;
	}
	&__wrapper {
		width: 300px;
		height: 400px;
	}
	&__header {
		font-size: 24px;
		background: @black;
		color: @white;
		text-align: center;
		padding: 16px;
		text-transform: uppercase;
	}
	&__container {
		background: @yellow;
		height: 400px;
		position: relative;
	}
	&__item {
		display: inline-block;
		width: 150px;
		//height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -75px;
		transition: .3s;
		box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
		&:nth-child(1) {
			transform: translate(-25%, -25%);	
			z-index: 1;
			&:hover {
				transform: translate(-25%, -25%) scale(1.1);
			}
		}
		&:nth-child(2) {
			transform: translate(25%, 25%);
			&:hover {
				transform: translate(25%, 25%) scale(1.1);
			}
		}
	}
	&__img {
		display: block;
		width: 100%;
	}
}